<div id='fireworks'>
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/fireworks@3.7.1/tsparticles.fireworks.bundle.min.js"></script>
<script>
    (async () => {
    await fireworks();
    })();
</script>
<div id='fireworks'></div>
